#navbar {
  background-color: rgba(0, 0, 0, 0.75);
  vertical-align: middle
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  color: white
}

#body {
  padding-top: 100px;
  padding-bottom: 100px;
}

/*#footer {
  position: relative;
  margin-top: 20px;
  height: 180px;
  clear: both;
  background-color: lightblue;
  text-align: center;
  vertical-align: middle
}*/

.provider-login-btn {
  margin-left: 15px;
  width: 45%;
}


/***HOME PAGE***/
.grid-box {
  height: 195px;
  background-size: cover;
  background-position: 50% 50%;
  border: 2px solid white
}

.wide {
  height: 390px;
  padding: 0;
  background-size: cover;
  border: 2px solid white
}

.float-right {
  float: right
}

.grid-box-hover {
  background-color: rgba(30, 30, 30, 0.6);
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity .25s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center
}

.grid-box-hover:hover {
  opacity: 1
}



/* Single Product Page */

.image-responsive {
  width: 100%;
}

.show-grid {
  text-align: center;
}

.product-info  {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}
.add-cart-btn a {
  text-decoration: none;
  color: white
}

.add-cart-btn {
  width: 130px;
  margin: 0 auto;
}
 .rating-stars {
   font-size: 2em;
   color: rgb(241, 218, 21);
}

/* CART */

.cart h3 {
  margin-top: 5px
}

.quantity-form {
  width: 20%;
  margin: 0 auto
}


/* ADMIN PAGE */

.admin-main {
  width: 60%;
  margin: 0 auto
}
